{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="form-container" style="color: black; font-size: x-large; font-weight: bolder;">
    <h2>CREATE AN ACCOUNT</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages" style="color: black; font-size: x-large; font-weight: bolder;">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
   


    <form method="POST">
        <div class="form-group">
            <label for="username" style="color: black; font-size: x-large; font-weight: bold; top: 30px;">Username</label>
            <input mode="text" id="username" name="username" required required placeholder="Enter Username">
        </div>

        <div class="form-group">
            <label for="email" style="color: black; font-size: x-large; font-weight: bold;">Email Address</label>
            <input mode="email" id="email" name="email" required  required placeholder="Enter your Email Address">
        </div>

        <div class="form-group">
    <label for="password" style="color: black; font-size: x-large; font-weight: bold;">Password</label>
    <div class="input-container">
        <input type="password" id="password" name="password" placeholder="Password must be at least 6 characters long" required>
        <span class="toggle-icon" onclick="toggleVisibility(this)">👁️</span>
    </div>
</div>

<div class="form-group">
    <label for="confirm_password" style="color: black; font-size: x-large; font-weight: bold;">Confirm Password</label>
    <div class="input-container">
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
        <span class="toggle-icon" onclick="toggleVisibility(this)">👁️</span>
    </div>
</div>
        <button mode="submit" class="btn">Register</button>
    </form>

    <p class="switch-link" style="color: darkblue; font-size: large; font-weight: bolder;">
        Already have an account? <a href="{{ url_for('login') }}" style="color: black; font-size:
        large; text-decoration: underline; font-weight: bolder;">Login here</a>
    </p>
</div>

<script>
    // JavaScript to check if passwords match before submitting the form
    document.querySelector("form").addEventListener("submit", function(e) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
        if (password !== confirmPassword) {
            e.preventDefault();
            alert("Passwords do not match!");
        }
    });
</script>

{% endblock %}