{% extends "base.html" %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="form-container" style="color: black; font-size: x-large; font-weight: bolder;">
    <h2>EMAIL VERIFICATION</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages"  style="color: black; font-size: large; font-weight: bolder;">
                {% for category, message in messages %}
                    <div class="flash-{{ category }} mt-3" style="color: black; font-size: large; font-weight: bolder;">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="form-group">
            <label for="otp" style="color: black; font-size: x-large; font-family: 'Courier New', Courier, monospace;"
            >Please enter the OTP sent to your Email Address</label>
            <input mode="text" name="otp" id="otp" maxlength="6" class="form-control" required placeholder="Enter 6-digit OTP">
        </div>

        <button mode="submit" class="btn btn-primary mt-3">Verify OTP</button>
    </form>

    <div class="mt-4">
        <p class="small" style="color: darkblue; font-size: large;">Didn't receive the OTP? <a href="{{ url_for('resend_otp') }}"
            style="color: black; font-size: large; font-weight: bolder;">Resend OTP</a></p>
    </div>

    {% if session.get('pending_user_id') %}
        <p>If you do not see the email, kindly check your spam folder.</p>
    {% endif %}

    <p class="switch-link mt-3" style="color: darkblue; font-size: large; font-weight: bold;">
        Already verified? <a href="{{ url_for('login') }}" style="color: black; font-size: large; 
        font-weight: bolder; text-decoration: underline;">Go to Login</a>
    </p>
</div>
{% endblock %}